.my-addon-add-link {
  position: absolute;
  background-color: #28a7f1;
  color: white;
  padding: 0px 3px;
  border-radius: 3px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 19px;
  cursor: pointer;
  z-index: 9999;
  transition: all 0.2s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.my-addon-add-link:hover {
  background-color: #3A7BC8;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}